
//长文字省略
.ellipsistable {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.flexc{
    display: flex;
    justify-content: center;
    align-items: center;
}


// tabbar 结构
.bar-page-warp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .bar-main {
        flex: 1;
        min-height: 30px;
        overflow: hidden;
        // overflow: auto;        
    }
}