*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:"Microsoft Yahei";
    font-size:30px;
}

input,img{
    margin: 0;
    padding: 0;
    outline: none;
    border: 0 none;
}

a{
    text-decoration: none;
    color:#ccc;
}


